In [28]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [29]:
# Importing the dataset
output_data = pd.read_csv('../data/output_data.csv')
source_data = pd.read_csv('../data/source_data.csv')

In [30]:
source_data['score'] = 0
for i in range(len(source_data)):
    score = 1 * source_data.loc[i, '1 try'] + 2 * source_data.loc[i, '2 tries'] + 3 * source_data.loc[i, '3 tries'] + 4 * source_data.loc[i, '4 tries'] + 5 * source_data.loc[i, '5 tries'] + 6 * source_data.loc[i, '6 tries'] + 7 * source_data.loc[i, '7 or more tries (X)']
    source_data.loc[i, 'score'] = score

In [31]:
# 只保留output_data['Word']这个单词中出现相同字母的单词的行
for i in range(len(output_data)):
    word = output_data['Word'][i]
    flag = 0
    for j in word:
        # 判断 j 出现的个数
        if word.count(j) > 1:
            flag = 1
            break

    if flag == 0:
        output_data.drop(i, inplace=True)

for i in range(len(source_data)):
    word = source_data['Word'][i]
    flag = 0
    for j in word:
        # 判断 j 出现的个数
        if word.count(j) > 1:
            flag = 1
            break

    if flag == 0:
        source_data.drop(i, inplace=True)

In [49]:
data1 = source_data[['Word', 'score', 'Contest number']]
data2 = output_data[['Word', 'difficult']]

In [52]:
# 合并两个dataframe
data = pd.merge(data1, data2, on='Word')
# 按照difficult排序
data = data.sort_values(by='difficult', ascending=True)
# 给contest number 带上引号
data['Contest number'] = data['Contest number'].apply(lambda x: "'" + str(x) + "'")

In [53]:
data.T

,89,69,15,77,20,80,90,84,30,16,...,42,79,40,71,66,73,44,3,61,76
Word,there,class,sweet,leave,shall,floor,happy,carry,glass,tease,...,hutch,ionic,retro,tibia,whoop,alpha,lilac,knoll,khaki,usurp
score,359,436,433,426,447,407,390,427,437,372,...,479,486,405,440,432,424,431,471,451,412
Contest number,'516','446','262','469','283','482','526','495','334','269',...,'376','480','373','449','443','451','379','219','421','466'
difficult,0.147,0.298,0.3,0.303,0.306,0.309,0.313,0.314,0.315,0.32,...,0.431,0.431,0.432,0.432,0.433,0.433,0.435,0.436,0.442,0.456