In [2]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('./data/output_data.csv')
df

      Word  letter occupancy  frequency     class  difficult  label
0    slump          0.523169   0.004210  0.857143   0.396303      3
1    crank          0.688590   0.002907  1.000000   0.391586      0
2    gorge          0.692576   0.001674  0.857143   0.378253      0
3    query          0.515197   0.002145  0.428571   0.358201      4
4    drink          0.546587   0.045307  0.000000   0.308113      1
..     ...               ...        ...       ...        ...    ...
354  condo          0.455904   0.002540  1.000000   0.417033      3
355  impel          0.264076   0.000458  1.000000   0.438315      3
356  havoc          0.286996   0.001422  0.857143   0.422543      3
357  molar          0.536124   0.000332  0.857143   0.395549      0
358  manly          0.690583   0.000691  1.000000   0.391745      0

[359 rows x 6 columns]